@import url('https://fonts.googleapis.com/css?family=Montserrat');

.span {
    font-family: Montserrat, sans-serif;
    -webkit-font-smoothing: antialiased;
}
.timer {
    padding-top: 50px;
}
.field {
    display: flex;
    border: 2px solid rgb(132, 129, 169);
    border-radius: 25px;
    padding: 25px;
    width: 250px;
    margin-top: 10px;
}
.value {
    display: block;
    font-size: 25px;
    padding-left: 25px;

}
.label {
    display: block;
    font-size: 25px;
    padding-left: 25px;
}